p.normal {
  font-weight: normal;
}

p.light {
  font-weight: lighter;
}

p.thick {
  font-weight: bold;
    font-size: 18
}

p.thicker {
  font-weight: 900;
}
h1 {color: darkslateblue;
  font-size: 50;
    text-decoration: underline;
    text-align: center;
}
h2 {color: black;
    text-decoration: underline;
    font-size: 24;
}
body {background-color: peachpuff;
div.a {
  text-align: center;
}

 
